{% extends 'components/base.html' %}
{% block title %}Add Trainer Details{% endblock %}
{% block content %}
{% include 'components/error.html' %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h4>Add Trainer Details</h4>
                </div>
                <div class="card-body">
                    <form method="POST"
                        action="{{ url_for('manage_trainer.add_trainer_submit') }}"
                        enctype="multipart/form-data">
                        <div class="text-center mb-4">
                            <img src="{{ url_for('static', filename='images/trainer/default.png') }}" alt="Profile Image" class="img-thumbnail rounded-circle" style="width: 200px; height: 200px;">
                            <div class="mt-2 text-start">
                                <label for="profile_image" class="form-label"><strong>Add Profile
                                        Image</strong></label>
                                <input type="file" class="form-control" id="profile_image" name="profile_image">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="new_username" class="form-label">
                                    <strong>Username</strong>
                                    <span style="color: red"> * </span>
                                </label>
                                <input type="text" class="form-control" id="new_username" name="new_username" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="status" class="form-label"><strong>Status</strong><span style="color: red"> * </span></label>
                                <select class="form-select" id="status" name="status">
                                    <option value="Active" selected>Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="new_password" class="form-label"><strong>Password</strong><span style="color: red"> * </span></label>
                                <input type="password" class="form-control" id="new_password" name="new_password" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="confirm_password" class="form-label"><strong>Confirm
                                        Password</strong><span style="color: red"> * </span></label>
                                <input type="password" class="form-control" id="confirm_password"
                                    name="confirm_password" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="first_name" class="form-label"><strong>First Name</strong></label>
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    value="" maxlength="50" pattern="[A-Za-z]+">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name" class="form-label"><strong>Last Name</strong></label>
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                    value="" maxlength="50" pattern="[A-Za-z]+">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="title" class="form-label"><strong>Title</strong></label>
                                <input type="text" class="form-control" id="title" name="title"
                                    value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone" class="form-label"><strong>Phone</strong></label>
                                <input type="text" class="form-control" id="phone" name="phone_number"
                                    value=""  pattern="[0-9]+" maxlength="20" >
                            </div>
                           
                            <div class="col-md-12 mb-3">
                                <label for="email" class="form-label"><strong>Email:</strong></label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="description" class="form-label"><strong>Description</strong></label>
                                <textarea class="form-control" id="description" name="description" rows="4" style="min-height: 100px; overflow-y: auto;"></textarea>
                            </div>
                        </div>
                        <div class="mb-4 d-flex justify-content-between">
                            <a href="{{ url_for('manage_trainer.display_trainer') }}"
                                class="btn btn-primary my-3 "><strong>← Back to List</strong></a>
                            <button type="submit" class="btn btn-success my-3"><strong>Create New Trainer</strong>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}