{% extends 'components/base.html' %}

{% block title %}
List Locations
{% endblock %}
 <!-- error message -->
 {% include 'components/error.html' %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-4">Location List</h1>
  <div class="mb-4 text-end">
    
    <a href="{{ url_for('manager.add_location')}}" class="btn btn-success">Add Location</a>
  </div>

  <!-- Stylish table --> 
<div class="table-responsive">
  <table class="table align-middle text-center">
    <thead  class="table-dark">
      <tr>
        <th>Location Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
      <tr>
        <td>{{ location[1] }}</td>
        <td>{{ location[2] }}</td>
        <td>
          <a href="{{ url_for('manager.show_class_list', location_id=location[0]) }}" class="btn btn-primary btn-sm">Show Classes</a>
          <a href="{{ url_for('manager.edit_location', location_id=location[0])}}" class="btn btn-info btn-sm">Edit</a>
          <a href="{{ url_for('manager.delete_location', location_id=location[0])}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}
